:root {
  --font1: "Inter", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 1.25rem 0;
}
html {
  background: #e5e5e5;
}
.card {
  font-family: var(--font1);
  font-weight: 400;
}
.encryptor {
  margin-top: 56px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.logo {
  padding: 1.5rem 0;
}
.warning {
  display: flex;
  gap: 5px;
  margin-top: 3.5rem;
  align-items: center;
}
.warning__icon {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../assets/imagenes/bi_exclamation-circle-fill.svg");
}
.warning__text {
  font-size: 12px;
}
.encryptor-value {
  margin-top: 4rem;
  color: #495057;
}

.value-copy {
  padding: 2rem;
  background: #fff;
  text-align: center;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.overflow {
  height: 432px;
  overflow-y: scroll;
}

.value-copy__tittle {
  font-size: 1.5rem;
  color: #343a40;
  font-weight: 700;
  line-height: 1.2;
}
.value-copy__paragraph {
  line-height: 1.5;
}
.value-copy__paragraph--message {
  margin-top: 1rem;
  font-size: 1rem;
}

.value-copy__paragraph--copy {
  text-align: left;
  font-size: 24px;
}
.value-copy__img {
  display: block;
  width: 100%;
  max-width: 336px;
  height: 100%;
  max-height: 304px;
  background: url("../assets/imagenes/Muñeco.png") center / cover no-repeat;
}
.value-copy--hidden {
  display: none !important;
}

@media screen and (min-width: 1280px) {
  html,
  body,
  main {
    height: 100%;
  }
  .logo {
    position: absolute;
    padding: 0;
  }
  .card {
    height: 100%;
  }
  .card__containter {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 5rem;
    height: 100%;
  }
  .encryptor {
    display: flex;
    flex-direction: column;
    height: 75%;
    margin-left: 7rem;
    margin-top: 7rem;
  }
  .encryptor-value {
    align-self: start;
    grid-column: 2/3;
    height: 100%;
    margin: 0;
  }
  .value-copy {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
  }
  .overflow {
    height: 100%;
  }
  .value-copy--message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .warning {
    margin-top: auto;
  }
}
@media screen and (min-width: 1440px) {
  body {
    padding: 2.5rem 0;
  }
  .encryptor {
    height: 85%;
  }
}
