* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./imagenes/imagenmatrix(1).jpg");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  color: #39ff14;
  padding: 15px;
  width: 30vw;
  margin: auto;
}
#container {
  width: 300px;
  height: 75px;
  border-radius: 6px;
  box-shadow: 0 10px 30px #000;
  margin: 1px auto;
  border: 1px solid #ffffff40;
}

.filter {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: rgba(243, 243, 243, 0.2);
}
.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: black;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

h2 {
  color: #39ff14;
}

label {
  color: #39ff14;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: #39ff14;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}
